*{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: #000;
}

#box{
	width: 644px;
	height: 300px;
	border: 1px solid #ccc;
	margin: 100px auto;
	position: relative;
}

.left, .right{
	width: 120px;
	height: 300px;
	float: left;
}

.center{
	width: 400px;
	height: 300px;
	float: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
}

li{
	line-height: 60px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.left li:last-child, .right li:last-child{
	border-bottom: none;
}

.current{
	background-color: red;
}