#box{
	width: 250px;
	height: 300px;
	margin: 100px auto;
	background-color: orange;
	padding: 20px;
}

#box_top{
	font-size: 23px;
	color: #fff;
	margin-bottom: 40px;
}

#box_bottom{
	width: 90%;
	height: 70%;
	background-color: orangered;
	margin: 0 auto;
	font-size: 100px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}